{% extends 'homepage.html' %}
{% block content %}

{# Add generators here #}

<h2> {{ 'Invariants' }} </h2>
<table>
<!--We are missing KNOWLs-->
  <tr><td>{{ "Discriminant" }}:</td><td> ${{ curve.disc }}$ </td></tr>
  <tr><td>{{ "Level" }}:</td><td> ${{ curve.level }}$ </td></tr>
  <tr><td>{{ 'Genus' }}:</td><td> ${{ curve.genus }}$ </td></tr>
</table>

{% if curve.model %}
<h2> {{ 'Plane model') }} </h2>
{% if curve.model == "P1" %}
<p>$\mathbb{P}^1$</p>
{% else %}
<p>${{curve.latexed_plane_model}} = 0$</p>
{% endif %}
{% endif %}

{% endblock %}
